@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Mada:wght@300;400;500;600;700&display=swap');

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@import "tailwindcss";

@import 'atropos/scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Mada', sans-serif;
}

.my-atropos {
  width: 320px;
  height: 160px;
  background: transparent;
}