@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Mada:wght@300;400;500;600;700&display=swap");

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@import "tailwindcss";

@import "atropos/scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Mada", sans-serif;
}

.my-atropos {
  width: 320px;
  height: 160px;
  background: transparent;
}

@keyframes glowing-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 10px #e47f0b, inset 0 0 5px #e47f0b;
  }
  50% {
    box-shadow: 0 0 20px #e47f0b, inset 0 0 15px #e47f0b;
  }
  100% {
    box-shadow: 0 0 10px #e47f0b, inset 0 0 5px #e47f0b;
  }
}

.stack-glow {
  position: relative;
  z-index: 0;
  animation: pulse-shadow 3s ease-in-out infinite;
}

.stack-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  padding: 2px;
  background: linear-gradient(270deg, #fbbf24, #fa5305, #fbbf24);
  background-size: 400% 400%;
  animation: glowing-border 4s linear infinite;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

@layer utilities {
  .animate-progress {
    animation: progressBar linear forwards;
    box-shadow: 0 0 10px #e47f0b, inset 0 0 10px #e47f0b;
  }

  @keyframes progressBar {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
}

.custom-scroll::-webkit-scrollbar {
  height: 4px;
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #f97e3e;
  border-radius: 6px;
  cursor: grab;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.parallax {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
  line-height: 1.5;
}

.parallax .scroller {
  display: inline-flex;
  gap: 2rem;
}
